img.center {
	display: block;
	margin: 0 auto;
}
.marb10 {
	margin-bottom: 10px; 
}
.marb20 {
	margin-bottom: 20px; 
}
.marb30 {
	margin-bottom: 30px; 
}
#block-block-1 {
	text-align: center;
}
#navbar {
	display: none;
}
.multiple-fields-remove-button {
	padding: 3px 5px !important;
	font-size: 11px !important;
	margin-top: 3px;
}

body, #field-email-values td, #field-contact-number-values td, .panel {

	color: #242424 !important;
	background: #F3F4F3 !important;
}

.panel {
	border-radius: 0px !important;
	box-shadow: none !important;
}

fieldset.date-combo .container-inline-date .date-padding {
	padding: 0px !important;
}

.table > thead > tr > th {
	border-bottom: 0px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}

#field-customer-address-values .panel-body {
	padding: 0px !important;
}

#field-contact-number-values .field-multiple-drag, #field-email-values .field-multiple-drag , #field-customer-address-values .field-multiple-drag {
	display: none;
}

#field-contact-number-values td, #field-email-values td, #field-customer-address-values td {
	padding: 0px !important;
}

#edit-field-birthday .panel-heading {
	padding: 0px !important;

}



textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
	box-shadow: inset 0 -1px 0 #242424 !important;
}

select, select.form-control {
	box-shadow: inset 0 -1px 0 #242424 !important;

}