img.center {
	display: block;
	margin: 0 auto;
}
.marb10 {
	margin-bottom: 10px; 
}
.marb20 {
	margin-bottom: 20px; 
}
.marb30 {
	margin-bottom: 30px; 
}
#block-block-1 {
	text-align: center;
}
#navbar {
	display: none;
}




@font-face {
    font-family: 'hatton';
    src: url('/sites/all/modules/rit_module/rithook/font/hatton-semibold-webfont.woff') format('woff'),
         url('/sites/all/modules/rit_module/rithook/font/hatton-semibold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'tenor';
    src: url('/sites/all/modules/rit_module/rithook/font/tenorsans-regular-webfont.woff') format('woff'),
         url('/sites/all/modules/rit_module/rithook/font/tenorsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main-container h1 {
	font-family: 'hatton', sans-serif !important;
	padding-top: 15px;
	font-size: 45px !important;
}

.main-container {

	font-family: 'tenor', sans-serif !important;

}

.webmaster-menu {
	background: #98B7C9 !important;
	color: #fff;
}

.webmaster-menu ul.menu li ul li {
	background: #98B7C9 !important;
}

.webmaster-menu ul.menu > li:hover > a {
	background: #6d8c9e !important;
}

.webmaster-menu ul.menu li:hover li {
  border-bottom: 1px solid #6d8c9e !important;

}

.code16 {
	color: #98B8CA; 
	font-size: 16px;
	line-height: 1.5em;
}

.title18 {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
}
.normal16 {
	color: #989898;
	font-size: 16px;
	line-height: 1.5em;
}

.code14, .code14 a{
	color: #98B8CA; 
	font-size: 14px;
	line-height: 1.5em;
}

.title16 {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5em;
}
.normal14 {
	color: #989898;
	font-size: 14px;
	line-height: 1.5em;
}
