.main-container > .row {
	margin: 0% 15% auto;
}
.tabledrag-toggle-weight-wrapper {
	display: none;
}
.ckeditor_links, .filter-wrapper {
	display: none !important;
}

.field-type-image .help-block {
	display: none !important;
}
.form-actions {
	/*text-align: center;*/
}

.form-item-sticky, .form-item-promote {
	display: none !important;
}

.multiple-fields-remove-button {
	padding: 3px 5px !important;
	font-size: 11px !important;
	margin-top: 3px;
}
#edit-field-p-coordinator-und-0-paragraph-bundle-title,
#edit-field-p-coordinator-und-1-paragraph-bundle-title,
#edit-field-p-coordinator-und-2-paragraph-bundle-title,
#edit-field-p-coordinator-und-3-paragraph-bundle-title,
#edit-field-p-coordinator-und-4-paragraph-bundle-title,
#edit-field-p-coordinator-und-5-paragraph-bundle-title {
	display: none !important;
}


.panel {
	border-radius: 0px !important;
	box-shadow: none !important;
}

fieldset.date-combo .container-inline-date .date-padding {
	padding: 0px !important;
}

.table > thead > tr > th {
	border-bottom: 0px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}

#field-customer-address-values .panel-body {
	padding: 0px !important;
}

#edit-field-p-coordinator .field-multiple-drag, #edit-field-in-contact-number .field-multiple-drag, #edit-field-email .field-multiple-drag , #edit-field-customer-address .field-multiple-drag {
	display: none;
}

#edit-field-in-contact-number td, #edit-field-email td, #edit-field-customer-address td {
	padding: 0px !important;
}

#edit-field-birthday .panel-heading {
	padding: 0px !important;

}



textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
	box-shadow: inset 0 -1px 0 #242424 !important;
}

select, select.form-control {
	box-shadow: inset 0 -1px 0 #242424 !important;

}