.main-container > .row {
	margin: 0% 15% auto;
}
.tabledrag-toggle-weight-wrapper {
	display: none;
}
.ckeditor_links, .filter-wrapper {
	display: none !important;
}

.field-type-image .help-block {
	display: none !important;
}
.form-actions {
	text-align: center;
}

.form-item-sticky, .form-item-promote {
	display: none !important;
}